<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {$array[0]}--{$array[1]}--{$array[2]}--{$array[3]}
    <br/>
    {$array.0}---{$array.1}---{$array.2}---{$array.3}
    <br/><hr>
    {$array1[0][0]}----{$array1[0][1]}----{$array1[0][2]}----{$array1[0][3]}
    <br/>
    {$array1.1.0}----{$array1.1.1}----{$array1.1.2}----{$array1.1.3}
    <br/>
    {$array1.2.0}----{$array1.2.1}----{$array1.2.2}----{$array1.2.3}
</body>
</html>