.jumbotron{text-align: center;background:#fff url('__INDEX__/img/141718kbuzuly7o860lg0h.jpg') no-repeat center center;background:cover;}
.mess{padding:10px;margin:20p}
.bg-primary{padding:10px;line-height: 1.5;letter-spacing: 1px;}
.form-inline{padding:10px;margin:20px auto;text-align: center}
.middle{display: inline-block;position:relative;}
.middle .btn{margin:0 20px 0 20px;}
.btn-tel{margin-top: 20px;position: relative;margin: 0 auto;display: block;width:80%;max-width:200px;padding:10px;}
.btn-tel{color:#fff;}
.bg-success{text-align: center;position: relative;margin:30px 0 0 0;}